name: HACS

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: HACS Validate
      # Docs: https://hacs.xyz/docs/publish/action
        uses: hacs/action@main
        with:
          category: integration
